<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/reset.css")
        link(rel="stylesheet" href="./fons/stylesheet.css")
        link(rel="stylesheet" href="./style/style.css")
        link(rel="stylesheet" href="./style/media.css")
        link(rel="stylesheet" href="./style/phons.css")
        title Homework 9
    body
        header.head
         .left 
            .boll
                img(src="./icons/football.svg", alt="")
                a(href="#") Sports
            .iforma
                h2 Get a personalized football experience tailored just for you
                p Achieve super-fan status by getting tailored updates and up-to-the-minute information on your team.        
            .btngrup
                .bt1           
                    button.btn1
                .bt2
                    button.btn2
        main
            .conteyner1
                .left


