<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/reset.css")
        link(rel="stylesheet" href="./fons/stylesheet.css")
        link(rel="stylesheet" href="./style/style.css")
        link(rel="stylesheet" href="./style/media.css")
        link(rel="stylesheet" href="./style/phons.css")
        title Homework 9
    body
        header.head
         .left 
            .boll
                img(src="./icons/football.svg", alt="")
                a(href="#") Sports
            .iforma
                h2 Get a personalized football experience tailored just for you
                p Achieve super-fan status by getting tailored updates and up-to-the-minute information on your team.        
            .btngrup
                .bt1           
                    button.btn1
                .bt2
                    button.btn2
        main
            .conteyner1
                .left
                    .top
                        .top1
                            .left1
                                h2 Sat, 12:35pm
                                h3 Arsenal v Chelsea
                                p Friendly Match
                            .right1
                                .arcenal 
                                    img(src="./icons/arsenal.svg", alt="").ars
                                .chelsea
                                    img(src="./icons/chelsea.svg", alt="").chel
                        .botom1
                            .txt
                                p Turn on all match notifications
                            .swich
                                .col
                                .pal  
                    .bootom
                        .top2
                        .botom2
                            .stop
                                img(src="./icons/Vector1.svg", alt="").sto
                            .time1
                                p 00:28
                            .lenea
                                img(src="./icons/Group693.svg", alt="" ).vec
                            .time2
                                p 00:42
                            .skr
                                img(src="./icons/Vector2.svg", alt="").sku   
                .right
                    h3 WHAT IT DOES
                    h2 An Enhanced Football Experience 
                    p The Guardian Live Scores app is your go to app for live scores and watching Premier League goals… Get in there, what a result! 
                    p As well as videos of all the goals, you can watch match highlights, check out the latest scores and results and stay bang-up-to-date with the big football stories from The Guardian publication.
                    .sul
                        a Learn more


                    
                                        


