@media (max-width: 720px) {
  body {
    margin: auto;
    max-width: 720px;
    display: flex;
    flex-direction: column;
  }

  .head {
    max-width: 720px;
    background-image: none;
    background-color: #f4f6f9;
  }
  .head .left {
    padding-top: 61px;
  }
  .head .left .boll {
    margin: auto;
    max-width: 99px;
  }
  .head .left .boll a {
    font-family: "Product Sans";
    font-size: 24px;
    line-height: 29px;
    color: #5282f0;
    margin-left: 4.09px;
  }
  .head .left .iforma {
    padding-top: 137px;
  }
  .head .left .iforma h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.03em;
    color: #333333;
    max-width: 546px;
    text-align: center;
    margin: auto;
  }
  .head .left .iforma p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4f4f4f;
    max-width: 453px;
    padding-top: 26px;
    text-align: center;
    margin: auto;
  }
  .head .btngrup {
    display: flex;
    padding-top: 50px;
    padding-bottom: 164px;
    max-width: 352px;
    margin: auto;
  }
  .head .btngrup .bt1 .btn1 {
    border: 0;
    padding: 23.5px 78px;
    border-radius: 7.33503px;
    background-repeat: no-repeat;
    background-image: url(../icons/AppleStore.svg);
  }
  .head .btngrup .bt2 {
    padding-left: 35px;
  }
  .head .btngrup .bt2 .btn2 {
    border: 0;
    padding: 23.5px 79px;
    border-radius: 7.33503px;
    background-repeat: no-repeat;
    background-image: url(../icons/GooglePlay.svg);
  }

  .conteyner1 {
    max-width: 1440px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0) 0%, white 48%), url(../icons/Rectangle1.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
  }
  .conteyner1 .left {
    max-width: 790px;
  }
  .conteyner1 .left .top {
    position: absolute;
    z-index: 2;
    margin-top: 109px;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  }
  .conteyner1 .left .top .top1 {
    display: flex;
  }
  .conteyner1 .left .top .top1 .left1 {
    margin-left: 15.74px;
  }
  .conteyner1 .left .top .top1 .left1 h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;
    color: #4f4f4f;
    max-width: 100px;
    margin-top: 28.26px;
  }
  .conteyner1 .left .top .top1 .left1 h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    max-width: 76.26px;
    color: #000000;
    margin-top: 13.58px;
  }
  .conteyner1 .left .top .top1 .left1 p {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    max-width: 123.85px;
    color: #000000;
    margin-top: 16.63px;
  }
  .conteyner1 .left .top .top1 .right1 .arcenal {
    margin-top: 46.13px;
    margin-left: 81.11px;
    position: absolute;
    z-index: 1;
  }
  .conteyner1 .left .top .top1 .right1 .chelsea {
    position: relative;
    z-index: 2;
    margin-left: 140px;
    margin-top: 46.13px;
  }
  .conteyner1 .left .top .botom1 {
    display: flex;
    background-color: #eeeeee;
    border-radius: 0px 0px 4px 4px;
    margin-top: 19px;
    padding: 14.68px 26.24px 9.63px 15.74px;
  }
  .conteyner1 .left .top .botom1 .txt p {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18.8812px;
    line-height: 25px;
    color: #4f4f4f;
  }
  .conteyner1 .left .top .botom1 .swich .col {
    padding: 10.5px;
    background-color: #ffffff;
    box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    margin-left: 33.59px;
  }
  .conteyner1 .left .top .botom1 .swich .pal {
    padding: 6.29px 13.65px;
    background-color: #979797;
    border-radius: 104.896px;
    margin-left: 39.88px;
    margin-top: 5px;
  }
  .conteyner1 .left .bootom {
    background-image: url(../icons/Rectangle2.svg);
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin-top: 296px;
    margin-left: 120px;
    border-radius: 4px;
  }
  .conteyner1 .left .bootom .top2 {
    padding-top: 169px;
  }
  .conteyner1 .left .bootom .botom2 {
    display: flex;
    padding: 17.5px 15.83px 14.27px 21px;
    background-color: #000000;
    opacity: 0.6;
    border-radius: 0px 0px 4px 4px;
  }
  .conteyner1 .left .bootom .botom2 .stop .sto {
    width: 12px;
    height: 14px;
  }
  .conteyner1 .left .bootom .botom2 .time1 {
    margin-left: 19px;
  }
  .conteyner1 .left .bootom .botom2 .time1 p {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
  .conteyner1 .left .bootom .botom2 .lenea {
    margin-left: 13px;
  }
  .conteyner1 .left .bootom .botom2 .lenea .vec {
    width: 172px;
    height: 10px;
  }
  .conteyner1 .left .bootom .botom2 .time2 {
    margin-left: 13px;
  }
  .conteyner1 .left .bootom .botom2 .time2 p {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
  }
  .conteyner1 .left .bootom .botom2 .skr {
    margin-left: 13.83px;
  }
  .conteyner1 .left .bootom .botom2 .skr .sku {
    width: 18px;
    height: 16px;
  }
  .conteyner1 .right {
    margin: auto;
  }
  .conteyner1 .right h3 {
    margin: auto;
    padding-top: 133px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00adee;
    max-width: 120px;
  }
  .conteyner1 .right h2 {
    margin: auto;
    padding-top: 28px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    max-width: 426px;
  }
  .conteyner1 .right p {
    max-width: 407px;
    margin: auto;
    padding-top: 26px;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
  }
  .conteyner1 .right .sul {
    padding-top: 22px;
    margin: auto;
    max-width: 82px;
  }
  .conteyner1 .right .sul a {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00adee;
  }
}

/*# sourceMappingURL=media.css.map */
