body {
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.head {
  max-width: 1440px;
  background-image: url(../icons/Frame.svg);
  background-repeat: no-repeat;
  background-position: 484px 0px;
  background-color: #f4f6f9;
  .left {
    padding-top: 61px;
    .boll {
      margin-left: 163px;
      a {
        font-family: "Product Sans";
        font-size: 24px;
        line-height: 29px;
        color: #5282f0;
        margin-left: 4.09px;
      }
    }
    .iforma {
      padding-top: 137px;
      h2 {
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        letter-spacing: 0.03em;
        color: #333333;
        max-width: 546px;
        margin-left: 163px;
      }
      p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #4f4f4f;
        width: 453px;
        padding-top: 26px;
        margin-left: 163px;
      }
    }
  }
  .btngrup {
    display: flex;
    padding-top: 50px;
    padding-bottom: 164px;
    margin-left: 163px;

    .bt1 {
      .btn1 {
        border: 0;
        padding: 23.5px 78px;
        border-radius: 7.33503px;
        background-repeat: no-repeat;
        background-image: url(../icons/AppleStore.svg);
      }
    }
    .bt2 {
      padding-left: 35px;
      .btn2 {
        border: 0;
        padding: 23.5px 79px;
        border-radius: 7.33503px;
        background-repeat: no-repeat;
        background-image: url(../icons/GooglePlay.svg);
      }
    }
  }
}
.conteyner1 {
  max-width: 1440px;
  background: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0) 0%,
      rgba(255, 255, 255, 1) 48%
    ),
    url(../icons/Rectangle1.svg);
  background-repeat: no-repeat;
  display: flex;
  .left {
    max-width: 790px;
    .top {
      position: absolute;
      z-index: 2;
      margin-top: 109px;
      margin-left: 163px;
      background-color: #ffffff;
      border-radius: 4px;
      box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
      .top1 {
        display: flex;
        .left1 {
          margin-left: 15.74px;
          h2 {
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 16.7833px;
            line-height: 22px;
            color: #4f4f4f;
            max-width: 100px;
            margin-top: 28.26px;
          }
          h3 {
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            max-width: 76.26px;
            color: #000000;
            margin-top: 13.58px;
          }
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            max-width: 123.85px;
            color: #000000;
            margin-top: 16.63px;
          }
        }
        .right1 {
          .arcenal {
            margin-top: 46.13px;
            margin-left: 81.11px;
            position: absolute;
            z-index: 1;
            .ars {
              width: 72px;
              height: 85px;
            }
          }
          .chelsea {
            position: relative;
            z-index: 2;
            margin-left: 140px;
            margin-top: 46.13px;
            .chel {
              width: 85px;
              height: 84px;
            }
          }
        }
      }
      .botom1 {
        display: flex;
        background-color: #eeeeee;
        border-radius: 0px 0px 4px 4px;
        margin-top: 19px;
        padding: 14.68px 26.24px 9.63px 15.74px;
        .txt {
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: normal;
            font-size: 18.8812px;
            line-height: 25px;
            color: #4f4f4f;
          }
        }
        .swich {
          .col {
            padding: 10.5px;
            background-color: #ffffff;
            box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            margin-left: 33.59px;
          }
          .pal {
            padding: 6.29px 13.65px;
            background-color: #979797;
            border-radius: 104.896px;
            margin-left: 39.88px;
            margin-top: 5px;
          }
        }
      }
    }
    .bootom {
      background-image: url(../icons/Rectangle2.svg);
      position: relative;
      z-index: 1;
      max-width: 360px;
      margin-top: 296px;
      margin-left: 269px;
      border-radius: 4px;
      .top2 {
        padding-top: 169px;
      }
      .botom2 {
        display: flex;
        padding: 17.5px 15.83px 14.27px 21px;
        background-color: #000000;
        opacity: 0.6;
        border-radius: 0px 0px 4px 4px;
        .stop {
          margin-top: 2px;
          .sto {
            width: 12px;
            height: 14px;
          }
        }
        .time1 {
          margin-left: 19px;
          margin-top: 3px;
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
          }
        }
        .lenea {
          margin-left: 13px;
          .vec {
            width: 172px;
            height: 10px;
          }
        }
        .time2 {
          margin-left: 13px;
          margin-top: 3px;
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #ffffff;
          }
        }
        .skr {
          margin-left: 13.83px;
          .sku {
            width: 18px;
            height: 16px;
          }
        }
      }
    }
  }
  .right {
    margin-left: 168px;
    h3 {
      padding-top: 133px;
      font-family: "Lato";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #00adee;
      max-width: 582px;
    }
    h2 {
      padding-top: 28px;
      font-family: "Lato";
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
      max-width: 426px;
    }
    p {
      max-width: 407px;
      padding-top: 26px;
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #4f4f4f;
    }
    .sul {
      padding-top: 22px;
      max-width: 582px;
      a {
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #00adee;
      }
    }
  }
}
.conteyner2 {
  max-width: 1440px;
  display: flex;
  background-color: #ffffff;
  background-image: url(../icons/Group672.svg);
  background-repeat: no-repeat;
  background-position-y: 76px;
  flex-direction: row;
  .left {
    margin-left: 162px;
    h3 {
      padding-top: 294px;
      max-width: 118px;
      font-family: "Lato";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #00adee;
    }
    h2 {
      padding-top: 27px;
      max-width: 297px;
      font-family: "Lato";
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
    }
    p {
      padding-top: 26px;
      max-width: 480px;
      font-family: "Lato";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #4f4f4f;
    }
    .learn {
      padding-top: 54px;
      max-width: 82px;
      padding-bottom: 0px;
      a {
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #00adee;
      }
    }
  }
  .right {
    .big {
      position: absolute;
      z-index: 1;
      margin-left: 198px;
      margin-top: 154px;
    }
    .litle {
      display: none;
    }
    .col {
      position: relative;
      z-index: 2;
      margin-top: 205px;
      margin-left: 208px;
      .dzen {
        width: 123px;
        height: 123px;
      }
    }
    .pho {
      position: relative;
      z-index: 2;
      margin-left: 462px;
      margin-top: 191px;
    }
    .pey {
      display: none;
    }
    .dot {
      position: relative;
      z-index: 3;
      margin-top: -73px;
      margin-left: 117px;
      padding-bottom: 200px;
    }
  }
}
